@import "tailwindcss";

/* Definicja zmiennych CSS */
@layer base {
  :root {
    --color-blue: oklch(0.72 0.11 178);
    --color-gray: oklch(0.65 0.05 120);
    --color-gray-100: oklch(0.75 0.03 115);
    --color-gray-200: oklch(0.75 0.05 130);
    --color-gray-300: oklch(0.55 0.08 145);
    --color-zinc: oklch(0.1 0.15 185);
  }
}
