@import "tailwindcss";

/* Definicja zmiennych CSS */
@layer base {
  :root {
    --color-blue-50: oklch(0.72 0.11 178);
    --color-gray-50: oklch(0.65 0.05 120);
    --color-gray-100: oklch(0.75 0.03 115);
    --color-gray-200: oklch(0.75 0.05 130);
    --color-gray-300: oklch(0.55 0.08 145);
    --color-zinc-50: oklch(0.1 0.15 185);
  }
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  -webkit-user-select: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  .hero-title {
    @apply text-center font-semibold text-3xl text-gray-100 opacity-0 max-md:mb-10;
  }
  .btn {
    @apply px-5 py-2 rounded-3xl bg-blue-50 my-5 hover:bg-transparent border border-transparent hover:border hover:text-blue-50 hover:border-blue-50;
  }
  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5;
  }
  .section-heading {
    @apply text-gray-50 lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20;
  }

  .link {
    @apply text-blue-50 hover:underline cursor-pointer flex items-center text-xl opacity-0 translate-y-20;
  }

  .video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
  }
  .control-btn {
    @apply ml-4 p-4 rounded-full bg-gray-300 backdrop-blur;
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 rounded-full bg-gray-300 backdrop-blur;
  }
  .size-btn-container {
    @apply flex items-center justify-center p-1 rounded-full bg-gray-300 backdrop-blur ml-3 gap-1;
  }

  .size-btn {
    @apply w-10 h-10 text-sm flex justify-center items-center bg-white text-black rounded-full transition-all;
  }
}
